
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: block;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    height: 100vh; 
    width: 100vw; 
}


.container {
    margin: 10vh auto; 
    width: 50vw; 
}

/* Image styling */
.image {
    display: block;
    width: 100%;
    height: auto; 
    border-radius: 10px 10px 0 0;
}


.btn {
    display: block;
    width: 50vw; 
    height: 8vh; 
    background: linear-gradient(90deg, orange, green);
    color: white;
    border: none;
    border-radius: 0 0 10px 10px;
    font-size: 2.5vh; 
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 8vh; 
}

.btn:hover {
    opacity: 0.9;
}
